body #mccp-payment{
  font-family: Avenir,Helvetica,Arial,sans-serif;
  margin: 0;
}
body #mccp-payment div{
  box-sizing: content-box;
}
#mccp-payment .currency-icon {
  width: 2rem;
  height: 2rem;
  position: relative;
}
#mccp-payment .icon-wrapper {
  position: relative;
}
.test-currency {
  filter: grayscale();
}

.currency-label {
  display: flex !important;
  align-items: center;
}
.currency-label img {
  margin-right: 16px;
}

select#mccp-currency {
  width: 100%;
  height: 2rem;
}

select#mccp option {
  height: 2rem;
}
.mccp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

#mccp-payment {
  padding: 25px 15px;
  width: 95%;
  max-width: 35rem;
}
.mccp-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.825rem;
  margin-bottom: 1rem;
}
.mccp-header span {
  margin: 0 5px;
}
.payment-info {
  display: flex;
}

.mccp-details {
  flex-grow: 1;
}


.mccp-qrcode {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.mccp-qrcode img{
  display: block;
  border: 2px solid #ccc;
  width: 225px;
  height: 225px;
  box-sizing: content-box;
  padding: 0px;
  margin: 10px;
}

.mccp-amount strong {
  display: block;
  padding: 15px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #eee;
  margin: 0px 5px;
  font-size: 1.2em;
  width: 100%;
  font-weight: 900;
}
.mccp-success {
  font-size: 1.6rem;
  font-weight: 600;
}
.mccp-success span {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
}
.mccp-success::before {
  content: '\f058';
  display: block;
  font-family: 'Font Awesome 5 Free', 'Font Awesome', FontAwesome;
  font-size: 5rem;
  line-height: 5.5rem;
  color:#595;
}

.mccp-info {
  padding: 25px 25px 15px;
  margin: 15px;
  border-top: 2px solid #ccc; 
}
.mccp-qrcode,
.mccp-amount,
.mccp-transactions {
  position: relative;
  margin: 15px;
  margin-top: 0px;
}

.mccp-details_item {
  padding: 5px;
  /* font-size: 1.2rem; */
  border-bottom: 1px solid #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mccp-details__title {
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
}
.mccp-label, .mccp-value {
  width: 50%;
  text-align: left;
  padding: 0 8px;
}
.mccp-label {
  text-align: right;
}
.mccp-value {
  font-weight: 900;
}
.mccp-payment .mccp-transactions a.link {
  color:  #6d6d6d;
  margin-right: 15px;
  text-decoration: none;
}
.mccp-payment .mccp-transactions a.link:hover {
  text-decoration: underline;
}
.mccp-transactions ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.loader-show {
  display: flex !important;
}

.loader-wrapper {
  position: absolute;
  width: 100%;
  height:100%;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  opacity: 0.5;
  z-index: 999;
}
.mccp-loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.mccp-loader:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation: mccp-loader 0.5s linear infinite;
}
@keyframes mccp-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.payment-details {
  display: flex;
  flex-direction: row;
  position: relative;
}
.mccp-qrcode__wrapper {
    border: 2px solid #ccc;
    overflow: hidden;
    display: flex;
    width: 12rem;
    height: 12rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 1rem;
}

.mccp-remains,
.mccp-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.mccp-remains {
  margin-bottom: 10px;
}
.mccp-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-title {
  font-size: 1.5rem;
}
.copy2clipboard {
  position: relative;
  word-wrap: break-word;
  max-width: 87%;
}

.address-link::after,
.copy2clipboard::after {
  content: '';
  display: inline-block;
  background: #fff url(icons/copy.svg) no-repeat center center;
  background-size: cover;
  margin-left: 8px;
  padding: 0;
  color: #ccc;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  float: right;
  opacity: .5;
}
.address-link:hover::after,
.copy2clipboard:hover::after {
  opacity: 1;
}
.copy2clipboard.copied::after {
    background-image: url(icons/copy-success.svg);
}
.stopwatch {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1.825rem;
  line-height: 32px;
}
.stopwatch__icon::before {
  display: inline-block;
  content: '';
  background: #fff url(icons/timer-1.svg) no-repeat center center;
  background-size: cover;
  padding: 0;
  color: #888;
  cursor: pointer;
  text-align: center;
  margin-right: 0.5rem;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
a.copy2clipboard:active,
a.copy2clipboard:focus,
a.copy2clipboard:hover,
a.address-link:active,
a.address-link:focus,
a.address-link:hover {
  outline: none;
}
.address-link::after {
  background-image: url(icons/link-21.svg);
}

.qr__wrapper {
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  min-width: 225px;
  width: 225px;
  height: 225px;
}
.qr__wrapper .status-icon-wrapper {
  position: absolute;
  text-align: center;
  color: #666;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.status-icon {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: cover;
  -webkit-mask-size: cover;
  width: 6rem;
  height: 6rem;
}
@keyframes rotate-hourglass {
  0% {
    transform: rotate(360deg);
  }
}
.paid .status-icon,
.overpaid .status-icon {
  background-color: #6d6d6d;
  mask-image: url(icons/refresh.svg);
  -webkit-mask-image: url(icons/refresh.svg);
  animation: rotate-hourglass 3s infinite;
}
.completed .status-icon {
  background-color: #36c50a;
  mask-image: url(icons/tick-circle.svg);
  -webkit-mask-image: url(icons/tick-circle.svg);
}
.expired .status-icon {
    background-color: #c20701;
    mask-image: url(icons/close-circle.svg);
    -webkit-mask-image: url(icons/close-circle.svg);
}
#mccp-payment .invoice__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}
#mccp-payment .info {
  flex-grow: 1;
  margin-left: 1.5rem;
}

#mccp-payment .info p {
  line-height: 1;
}
#mccp-payment .info__title {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.info__title img {
  margin-right: 0.5rem;
}
.info__amount {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 1rem 0;
}
.info__date {
  color: #888;
  margin: 0.625rem 0;
}

p.merchant {
  color: #888;
  margin: .825rem 0;
}
p.merchant > span {
  font-weight: 700;
  color: #333;
}

.info-field {
  position: relative;
  margin-bottom: 1rem;
}
.info-list {
  position: relative;
  margin-bottom: 0rem;
  flex-grow: 1;
}

.info-list > span,
.info-field > span {
  position: absolute;
  top: -10px;
  left: -5px;
  background-color: #fff;
  color: #a5a5a5;
  padding: 0 5px;
}

.info-list > span {
  left: 10px;
}
.info-list > div,
.info-field > div {
  display: block;
  padding: 15px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1.2rem;
  width: 100%;
  font-weight: 900;
}

.info-list > div {
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 300;
}

.info-list ul {
  list-style-type: none;
  padding: 0px 15px;
  margin: 0;
  color: #888;
}
.info-list li {
  line-height: 1.5rem;
}

.blur {
  filter: blur(3px) opacity(0.1);
}
.mccp-status {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: .5rem;
}
.mccp-status-desc {
  font-size: 1rem;
  font-weight: 500;
  color: #a5a5a5;
}
#back2store {
  margin: 1rem;
  display: inline-block;
  color: #777;
}
.expired {
  opacity: 0.6;
}
.info-list .item {
  display: flex;
  justify-content: space-between;
}
.mccp-logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mccp-wrapper a, .mccp-wrapper a:active{
    outline: none;
}
#mccp-logo {
    display: flex;
    flex-direction: column;
    color: #999;
    text-decoration: none;
    margin: 1rem;
    padding-top: 15px;
}
#mccp-logo>svg {
    object-fit: cover;
}
#mccp-logo>span {
    font-size: .5rem;
}
@media screen and (max-width: 540px) {
    .info {
        margin-left: unset;
    }
    .info__title {
        font-size: 2rem;
    }
    .invoice__info {
        flex-direction: column-reverse;
    }
    .qr__wrapper {
        align-self: center;
    }
    .mccp-payment {
        padding: 0;
    }
    .mccp-logo-wrapper {
        flex-direction: column;
    }
}
